---
layout: layouts/base.njk
---

<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col-10 fr-col-md-10 fr-col-offset-1">
  <h1>{{ title }}</h1>
    {%- if date %}
      <p><time class="fr-tag" datetime="{{ date | htmlDateString }}">Publiée le {{ date | readableDate }}</time></p>
    {% endif %}

    <div class="fr-highlight">
      <p>Vous avez trouvé cette page par hasard ?  <a href="https://infolettres.etalab.gouv.fr/subscribe/bluehats@mail.etalab.studio">Inscrivez-vous</a> : c'est tous les deux mois seulement.</p>
    </div>

    {{ content | safe }}
  </div>
</div>
